body {
    width: 100%;
}
.table-container {
    width: 900px;
    margin:auto;
}

.store-table {
    border: 1px solid;
}

td {
    border: 1px solid;
}

th {
    border: 1px solid;
}

p {
    width: 100%;
    text-align: center;
}

h1 {
    text-align: center;
}

.footer {
    border: 2px solid black;
    color: green;
}

.image-container {
    width: 50%;
    text-align: center;
    float: left;
}

.salmon-image {
    width: 20%;
}

.crab-image {
    width: 100%;
}